/* Reset and Base Styles */
main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #F2F7F2;
}

/* Heading Styles */
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 1rem;
}

/* Link Styles */
li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #8E5572;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #8E5572;
    color: white;
    text-decoration: underline;

}

/*Image Styles */
.profile-picture {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    border: 3px solid #8E5572;
}

/* Section Styles */
section {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    background-color: #F2F7F2;
    border-radius: 8px;
    box-shadow: 0 2px 4px #8E5572;
}

/*Project Styles */
.projects {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.projects img {
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.project-1, .project-2, .project-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.projects a {
    display: block;
    margin-top: 10px;
    width: fit-content;
}

/*Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #8E5572;
    color: white;
    margin-top: 40px;
}